[submodule "dev_forum-user"]
	path = dev_forum-user
	url = https://github.com/krixlion/dev_forum-user
	branch = dev
[submodule "dev_forum-article"]
	path = dev_forum-article
	url = https://github.com/krixlion/dev_forum-article
	branch = dev
[submodule "dev_forum-auth"]
	path = dev_forum-auth
	url = https://github.com/krixlion/dev_forum-auth
	branch = dev
